* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background: radial-gradient(circle, skyblue, steelblue);
    display: flex;
    justify-content: center;

}

#container {
    border: 1px solid rgb(39, 35, 35);
    display: grid;
    border-radius: 5px;
    grid-template-columns: auto auto auto;
    margin-top: 1vh;
}

.shadow {
    font-size: larger;
    color: rgb(13, 245, 168);
    margin: 1vh;
    text-shadow: 2px 1px 2px black, 0 0 1em red;
    background-color: cornflowerblue;
    height: 20vh;
    width: 25vh;
}
.first{
    grid-column: 1/-1;
    width: 79vh;
}

.none {
    font-size: larger;
    color: rgb(36, 13, 245);
    margin-top: 10vh;
}